
button {
    border: none;
    cursor: pointer;
}
  
button:hover {
    opacity: 0.8;
}

.flexcontainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.btn-green {
    margin: 0 10px;
    color: white;
    background-color: rgb(0, 173, 0);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
}

.btn-link {
    margin: 0 10px;
    color: blue;
    text-decoration: underline;
    padding: 5px 10px;
    font-size: 0.8rem;
}


.table {
    width: 100%;
    /* border: 1px solid black; */
}

.table td {
    border: 0px solid black;
    border-top: 2px solid black;
    margin: 0px;
    padding: 10px;
}

.hidden {
    display: none;
}

.divSaldo {
    margin-right: 5%;
    text-align: right;
}